<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/resetPassword.css" />
</head>

<body>
  <div class="form-gap"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default resetPassword">
          <div id="formBody" class="panel-body resetPassword">
            <div class="text-center resetPassword">
              <h3><i class="fa fa-lock fa-4x resetPassword"></i></h3>
              <h2 class="text-center resetPassword">New Password</h2>
              <p>You can enter your new password here.</p>
              <div class="panel-body resetPassword">
                <form id="register-form" role="form" autocomplete="off" class="form resetPassword" onsubmit="return false">
                  <div class="form-group resetPassword">
                    <div class="input-group resetPassword">
                      <span class="input-group-addon resetPassword"><i class="glyphicon glyphicon-edit resetPassword"></i></span>
                      <input id="newPassword" name="newPassword" placeholder="New Password" class="form-control resetPassword" type="password" />
                    </div>
                  </div>
                  <div class="form-group">
                    <input id="resetPasswordBtn" name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit" />
                  </div>
                  <input type="hidden" class="hide" name="token" id="token" value="" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="/js/resetPassword.js"></script>
</body>

</html>
