.form-gap {
  padding-top: 70px;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2; /* Light Grey */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.btn-block[name="recover-submit"] {
  background-color: #333333;
  color: white;
  border-color: #333333;
}
